#dashboard {
    width: 100vw;
    height: 90vh;
    background: var(--ShadowGreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dash {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:20px;
    border:3px solid black;
    padding: 20px;
    background-color: whitesmoke;
}

#dash-greeting {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

#grid-date {
    grid-column: 4/8;
    grid-row: 1/2;
    text-align: center;
}

#quick-stats {
    grid-column: 8/13;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#quick-stats h2 {
    text-align: center;
}

#empty1 {
    grid-column: 1/3;
    grid-row: 2/4;
}

#empty2 {
    grid-column: 3/6;
    grid-row: 2/4;
}

#empty3 {
    grid-column: 6/8;
    grid-row: 2/4;
}



#low-items {
    grid-column: 1/7;
    grid-row: 4/7;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#finances {
    grid-column: 7/13;
    grid-row: 4/7;
}

.grid-item {
    border: 2px solid black;
    background-color: var(--Tan);
}

#lowitems-graph {
    background-color: var(--Champagne);
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#dash table {
    width: 80%;

}

#dash table, #dash th, #dash td {
    border: 2px solid black;
}

#dash th {
    width: 40%;
}

#dash td {
    text-align: center;
}
