#home-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#home-page p{
    font-size: large;
}

#home-page h1 {
    font-size: 55px;
}
