#newproject-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newproject-form {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

