#projects-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-grid {
    width: 80%;
    height: 80%;
    display: grid;
    gap:5%;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

.project {
    background-color: var(--ShadowGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    border-radius: 10px;
    max-height: 200px;
}

